imports:
    - { resource: factories.yml }
    - { resource: library_services.yml }
    - { resource: core_services.yml }

parameters:
    apiContentType: 'application/json'
    contentType: 'json'

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    SupportPal\ApiClient\ApiClient:
        public: true
        arguments:
            $httpClient: '@GuzzleHttp\Client'
            $formatType: '%contentType%'

    SupportPal\ApiClient\Normalizer\ModelNormalizer:
        arguments:
            $objectNormalizer: '@Symfony\Component\Serializer\Normalizer\ObjectNormalizer'
            $transformers: !tagged transformer.field_transformer

    SupportPal\ApiClient\Transformer\StringTrimTransformer:
        tags: [ 'transformer.field_transformer' ]
