/.gitattributes export-ignore
/.gitignore export-ignore
/.github export-ignore
/.releaserc export-ignore
/ci export-ignore
/composer.json export-ignore
/ModelParser export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/phpcs.xml export-ignore
/phpmd.xml export-ignore
/phpstan.neon export-ignore
/phpunit.xml.dist export-ignore
/test export-ignore
