includes:
    - vendor/jangregor/phpstan-prophecy/extension.neon

parameters:
    level: 8
    paths:
        - src
        - test
    inferPrivatePropertyTypeFromConstructor: true
    excludePaths:
        - src/Normalizer/ModelNormalizer.php
        - test/DataFixtures
        - test/PhpUnit
    parallel:
        processTimeout: 300.0
