parameters:
    level: 8
    paths:
        - src
        - test
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy#'
    excludePaths:
        - src/Normalizer/ModelNormalizer.php
        - test/DataFixtures
    parallel:
        processTimeout: 300.0
