parameters:
    level: 8
    paths:
        - src
        - test
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy#'
    excludes_analyse:
        - src/Normalizer/ModelNormalizer.php
        - test/DataFixtures
        - test/PhpUnit
    parallel:
        processTimeout: 300.0
