name: ci

on:
    pull_request:

jobs:
    linux_tests:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: true
            matrix:
                php: [7.2, 7.3, 7.4, 8.0]
                stability: [prefer-stable]

        name: PHP ${{ matrix.php }} - ${{ matrix.stability }}

        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  tools: composer:v2
                  coverage: xdebug

            - name: PHP Copy Paste Detector
              uses: StephaneBour/actions-php-cpd@7.4

            - name: Install dependencies
              run: composer global require hirak/prestissimo && composer update --${{ matrix.stability }} --prefer-dist --no-interaction --no-progress

            - name: Code Standard and Static Analysis
              run: ci/analyse.sh

            - name: Execute Unit tests
              run: TESTSUITE=unit MINCOVERAGE=95 ci/test.sh

            - name: Execute Functional tests
              run: TESTSUITE=functional MINCOVERAGE=85 ci/test.sh

            - name: Execute Integration tests
              run: TESTSUITE=integration MINCOVERAGE=85 ci/test.sh

            - name: Execute Cache tests
              run: ./vendor/bin/phpunit --testsuite=cache --stop-on-fail
